<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head th:replace="head :: header">
<meta charset="UTF-8">
<title>新規ラーメン</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

	<h2>新規ラーメン作成</h2>

	<form method="post" th:action="@{/ramens/new2}" th:object="${ramen}">
		<ul>
			<li><label>お店</label> <br> <input type="text" name="shop">
				<br>
				<div th:if="${#fields.hasErrors('shop')}" th:errors="*{shop}">エラー</div>


			</li>



			<li><label>種類</label> <br> <input type="text" name="type">
				<div th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
			</li>
			<li><label>評価</label> <br> <select name="star">
					<option value="★">★</option>
					<option value="★★">★★</option>
					<option value="★★★">★★★</option>
					<option value="★★★★">★★★★</option>
					<option value="★★★★★">★★★★★</option>
			</select></li>
		</ul>
		<button class="btn btn-primary">新規作成</button>
	</form>

</body>
</html>