<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="header">
<meta charset="utf-8" />
<title>Ramen</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body>
	<header th:frame="header">
		<nav class="navbar navbar-light bg-primary md-n5 text-left">
			<a class="navbar-brand " th:href="@{/ramens}">Ramen</a>
			<a class="navbar-brand" th:href="@{/logout}">ログアウト</a>
			<br>
		</nav>
	</header>
</body>

</html>