<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head th:replace="head :: header">
<meta charset="UTF-8">
<title>ラーメン情報変更</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

	<h2>ラーメン情報変更</h2>

	<form th:action="@{/ramens/put/{id}(id=*{id})}" th:method="put"
		th:object="${ramen}">
		<!-- 入力したやつをramenの中にいれて使える -->


		<ul>
			<li><label>お店</label> <br> <input type="text" id="shop"
				name="shop" th:field="*{shop}" /> <!-- fieldはramen.shopとかにしてHTMLで使える -->
				<div th:if="${#fields.hasErrors('shop')}" th:errors="*{shop}">エラー</div>

			</li>


			<li><label>種類</label> <br> <input type="text" name="type"
				th:field="*{type}">
				<div th:if="${#fields.hasErrors('type')}" th:errors="*{type}">エラー</div>

			</li>
			<li><label>評価</label> <br> <select name="star"
				th:field="*{star}">
					<option value="★">★</option>
					<option value="★★">★★</option>
					<option value="★★★">★★★</option>
					<option value="★★★★">★★★★</option>
					<option value="★★★★★">★★★★★</option>
			</select></li>
			<li><label>来店日</label><br>
			<input type="date" name="day" placeholder="yyyy/MM/dd"
				th:field="*{day}"></li>

			<li><label>画像リンク</label> <br>

			<input type="text" id="pic"
				name="pic" th:field="*{pic}" /> <!-- fieldはramen.shopとかにしてHTMLで使える -->


			<li><label>登録する人</label> <br> <input type="text" name="person"
				th:field="*{person}">
				<div th:if="${#fields.hasErrors('person')}" th:errors="*{person}">エラー</div>

			</li>

			</li>
		</ul>





		<button class="btn btn-primary">更新</button>


	</form>


</body>
</html>