<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head th:replace="head :: header">
<meta charset="UTF-8">
<title>ラーメンの詳細</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<h2>登録内容確認</h2>
	<div th:object="${ramen}">

		<table class="table table-striped">


			<tr>
				<th>お店</th>
				<td><div th:text="*{shop}"></div></td>
			</tr>
			<tr>
				<th>種類</th>
				<td><div th:text="*{type}"></div></td>
			</tr>
			<tr>
				<th>評価</th>
				<td><div th:text="*{star}"></div></td>
			</tr>
			<tr>
				<th>来店日</th>
				<td><div th:text="*{day}"></div></td>
			</tr>
			<tr>
				<th>写真</th>
				<td><div th:text="*{day}"></div></td>
			</tr>




		</table>
	</div>



</body>
</html>